body {
  margin: 0;
  margin: 25px;
  font: 12px Verdana, Arial;
}
h1 {
  font: 30px "Trebuchet MS", Verdana;
  margin: 0;
}
h2 {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
p {
  margin: 0 0 14px;
}

#apperEditor {
  border: none;
  margin: 0;
  padding: 0;
  font: 14px "Courier New", Verdana;
}
.apperEditor {
  border: 1px solid #bbb;
  padding: 0 1px 1px;
  font: 12px Verdana, Arial;
}
.apperEditor iframe {
  border: none;
  overflow-x: hidden;
}
.apperEditor-header {
  height: 31px;
  border-bottom: 1px solid #bbb;
  background: url(../img/header-bg.gif) repeat-x;
  padding-top: 1px;
}
.apperEditor-header select {
  float: left;
  margin-top: 5px;
}
.apperEditor-font {
  margin-left: 12px;
}
.apperEditor-size {
  margin: 0 3px;
}
.apperEditor-style {
  margin-right: 12px;
}
.apperEditor-divider {
  float: left;
  width: 1px;
  height: 30px;
  background: #ccc;
}
.apperEditor-control {
  float: left;
  width: 34px;
  height: 30px;
  cursor: pointer;
  background-image: url(../img/icons.png);
}
.apperEditor-control:hover {
  background-color: #fff;
  background-position: 30px 0;
}
.apperEditor-footer {
  height: 32px;
  border-top: 1px solid #bbb;
  background: #f5f5f5;
}
.toggle {
  float: left;
  background: url(../img/icons.png) -34px 2px no-repeat;
  padding: 9px 13px 0 31px;
  height: 23px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  color: #666;
}
.toggle:hover {
  background-color: #fff;
}
.resize {
  float: right;
  height: 32px;
  width: 32px;
  background: url(../img/resize.gif) 15px 15px no-repeat;
  cursor: s-resize;
}
#editor {
  cursor: text;
  margin: 10px;
}
