.videodetector {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.videodetector iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.remove-videodetector {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
  cursor: pointer !important;
  display: none;
  outline: none;
  padding: 10px 20px;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: none;
  background-color: #e74c3c;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.remove-videodetector:hover {
  background-color: #c0392b;
}

.videodetector:hover .remove-videodetector {
  display: block;
}
